.box {
  width: 400px;
  height: 400px;
  border: 1px solid black;
}

#drag-element {
  width: 40px;
  height: 40px;
  background: red;
}

.progress-container {
  width: 100%;
  height: 8px;
  background: #ccc;
  overflow: hidden;
}

.progress-bar {
  height: 10px;
  color: red;
}
